		@media (min-width: 320px) and (max-width: 480px) {
			#hero{
				display:flex;
				justify-content: center;
				align-items: center;
				height: 15rem;
				width: 100vw;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				position: relative;
				background-size: cover;
				h1{
					text-align: center;
					font-size: 4rem;
					margin-top:20%;
				}

				h2{
					text-align: center;
					font-size: 2rem;
					margin-top: 2%;
					margin-bottom:15%;
				}

				.btn{
					justify-self: center;
					align-self: center;
				}
			}
		}
		@media (min-width: 768px) and (max-width: 1024px) {
			#hero{
				display:flex;
				justify-content: center;
				align-items: center;
				height:auto;
				width: 100vw;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				position: relative;
				background-size: cover;
				h1{
					text-align: center;
					font-size: 10rem;
					margin-top:20%;
				}

				h2{
					text-align: center;
					font-size: 5rem;
					margin-top: 2%;
					margin-bottom:15%;
				}

				.btn{
					justify-self: center;
					align-self: center;
				}
			}
		}
		@media (min-width: 1040px) and (max-width: 1280px) {
			#hero{
				display:flex;
				justify-content: center;
				align-items: center;
				height:auto;
				width: 100vw;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				position: relative;
				background-size: cover;
				h1{
					text-align: center;
					font-size: 10rem;
					margin-top:20%;
				}

				h2{
					text-align: center;
					font-size: 5rem;
					margin-top: 2%;
					margin-bottom:15%;
				}

				.btn{
					justify-self: center;
					align-self: center;
				}
			}
		}
		@media (min-width: 1281px) {
			#hero{
				display:flex;
				justify-content: center;
				align-items: center;
				height:auto;
				width: 100vw;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				position: relative;
				background-size: cover;
				h1{
					text-align: center;
					font-size: 10rem;
					margin-top:20%;
				}

				h2{
					text-align: center;
					font-size: 5rem;
					margin-top: 2%;
					margin-bottom:15%;
				}

				.btn{
					justify-self: center;
					align-self: center;
				}
			}
		}
